.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.myImage {
  max-width: 100%;
  height: auto; /* Keeps the aspect ratio */
  object-fit: cover; /* Crop to fit */
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  /* below both line is used to align image at center */
  display: block;
  margin: 0 auto;

  /* float: right; */
  /*filter: grayscale(100%);*/  /*Black and white image*/
  opacity: 0.9; /* 90% opacity (transparency */
}

.myImage:hover {
  transform: scale(1.1); /* Slightly enlarges the image */
  transition: transform 0.3s ease; /* Smooth transition */
}